:root {
  --color-primary: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.6rem;
}

.header__container,
.acerca-de__container,
.menu__container,
.ubicacion__container,
.mapa__container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  width: 100%;
  background: url(../img/bg.jpg) #281a0c;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 0;
}

.header__container {
  position: relative;
  height: 560px;
}
.header__nav {
  width: 100%;
  text-align: right;
}
.header__thumbnail {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  display: inline-block;
  padding: 16px;
  margin: 24px 6px;
  text-decoration: none;
  position: relative;
  transition: text-decoration 0.15s;
  transition: color 0.15s;
}
.header__thumbnail::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--color-primary);
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
  transition: opacity 150ms, transform 150ms;
}
.header__thumbnail:hover::after, .header__thumbnail:focus::after {
  transform: scale(1);
}
.header__textos {
  width: 100%;
  color: var(--color-primary);
  position: absolute;
  top: 50%;
  margin-top: -86px;
}
.header__title {
  font-size: 5rem;
  font-weight: 600;
}
.header__title span {
  font-weight: 300;
}
.header__subtitle {
  font-weight: 300;
  font-size: 2.5rem;
  font-style: italic;
}

main {
  background: url(../img/bg-textura.png);
  background-repeat: repeat;
}

.acerca-de__container {
  overflow: visible;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.acerca-de__img {
  width: 80%;
  position: absolute;
  left: 0;
  top: -50px;
  z-index: 0;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}
.acerca-de__img img {
  width: 100%;
  vertical-align: top;
}
.acerca-de__article {
  background: var(--color-primary);
  padding: 40px;
  width: 50%;
  position: relative;
  top: 50px;
  z-index: 1;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}
.acerca-de__article h3 {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 40px;
}
.acerca-de__article p {
  line-height: 28px;
  margin-bottom: 15px;
}

.menu {
  padding-top: 80px;
  margin-bottom: 52px;
}
.menu__menu {
  border: 1px solid;
  position: relative;
  display: flex;
}
.menu__menu::after {
  content: "";
  width: 100%;
  height: 100%;
  top: -15px;
  left: -15px;
  padding: 15px;
  position: absolute;
  border: 1px solid;
}
.menu__title {
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40px;
}
.menu__article {
  width: 50%;
  padding: 20px;
}
.menu__category {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}
.menu__dish {
  overflow: hidden;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 4px dotted #000;
}
.menu__name {
  font-size: 20px;
  margin-bottom: 15px;
  float: left;
}
.menu__price {
  float: right;
  font-size: 2 rem;
  margin-bottom: 15px;
}
.menu__description {
  font-size: 1.6rem;
  color: #676767;
  clear: both;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
}
.galeria__img {
  width: 25%;
  opacity: 0.7;
  transition: opacity 0.15s;
}
.galeria__img:hover {
  opacity: 1;
}
.galeria__img img {
  width: 100%;
  vertical-align: top;
}

.ubicacion {
  background: #fff;
  padding: 60px 0;
}
.ubicacion__container {
  display: flex;
  flex-wrap: wrap;
}
.ubicacion__title {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  line-height: 40px;
  font-weight: 300;
  margin-bottom: 40px;
}
.ubicacion__address {
  width: 50%;
}
.ubicacion__calle {
  margin-bottom: 15px;
}
.ubicacion__schedule {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.ubicacion__schedule h4 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.ubicacion__entre-semana, .ubicacion__fin-semana {
  width: 50%;
  text-align: center;
}

.mapa {
  width: 100%;
}
.mapa iframe {
  width: 100%;
  max-height: 540px;
}

footer {
  background: #000;
}
footer .footer__copyright {
  text-align: center;
  padding: 15px 0;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__thumbnail {
    margin: 0;
  }
  .header__title {
    text-align: center;
    font-size: 3.6rem;
  }
  .header__subtitle {
    text-align: center;
    font-size: 2.6rem;
  }

  .acerca-de__img {
    width: 100%;
  }
  .acerca-de__article {
    width: 100%;
    margin-top: 70px;
  }

  .menu__menu {
    flex-direction: column;
    align-items: center;
  }
  .menu__article {
    width: 100%;
  }

  .galeria__img {
    width: 50%;
  }

  .ubicacion__container {
    flex-direction: column;
    align-items: center;
  }
  .ubicacion__address {
    width: 100%;
    text-align: center;
    margin-bottom: 26px;
  }
  .ubicacion__schedule {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

/*# sourceMappingURL=estilos.css.map */
